- hosts: thincrust-dev
  tasks:
   
    - name: Create directory
      file:
        path: ./mattermost-webapp/
        state: directory

    - name: mattermost-webapp.tar.gz
      copy:
        src: ../binaries-files/mattermost-webapp.tar.gz
        dest: ./mattermost-webapp/mattermost-webapp.tar.gz
   
    - name: Deploy development version of mattermost-webapp
      shell: |
        cd ./mattermost-webapp
   
    #     sudo cp sync.py /opt/mattermost-sync/sync.py
    #     sudo cp mattermost_api.py /opt/mattermost-sync/mattermost_api.py
    #     sudo cp dynamo_integration.py /opt/mattermost-sync/dynamo_integration.py
