- hosts: thincrust-dev
  tasks:
   
    - name: Create directory
      file:
        path: ./mattermost-webapp/
        state: directory

    - name: mattermost-webapp-dev.tar.gz
      copy:
        src: ../binaries-files/mattermost-webapp-dev.tar.gz
        dest: ./mattermost-webapp/mattermost-webapp-dev.tar.gz
   
    - name: Deploy development version of mattermost-webapp
      shell: |
        cd ./mattermost-webapp
        mv mattermost-webapp-dev.tar.gzmattermost-webapp.tar.gz
        tar -xvf mattermost-webapp.tar.gz
        sudo rm -rf /opt/gitlab/embedded/service/mattermost/client_old
        sudo mv /opt/gitlab/embedded/service/mattermost/client /opt/gitlab/embedded/service/mattermost/client_old
        sudo cp -R client/ /opt/gitlab/embedded/service/mattermost
        rm -rf client/
